body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.show {
    opacity: 1;
}
.button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}